.box{
width: 100%;
height: 50vh;
background: linear-gradient(270deg, rgba(41,76,213,1) 81%, rgba(41,76,213,1) 98%);
}
h1{
    color: white;
    text-align: center;
    position: relative;
    top:30%;
    font-size: 2.25rem;
    line-height: 3rem;
}
button{
    width: 15%;
    height: 14%;
    border: 2.5px solid white;
    border-radius: 7px;
    margin-top: 8.25%;
    margin-left: 22.5%;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    transition: 0.25s all linear;
}
button:hover{
    background-color: white;
    color: black;
}
.boxy{
    width:70%;
    border: 32px solid white; 
    border-radius:20px;
    margin-left:15%; 
    margin-top: -3.6%;
}

h4{
    background-color: white;   
    font-size: large;
}

.carding{
    margin-top: 10px;
    width: 72%;
    margin-left: 14%;
}
.left_side{
    width: 90%;
    
}

.person{
    border-radius: 10px;
}

.right_side{
    width: 100%;
}

.person_name{
    font-size: 1.25rem;
    color: blue;
    font-weight: 700;
    font-family: "sans-serif";
}
.person_title{
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 20px 0px 8px;
}
.person_exp{
    margin-bottom: 8px;
    font-size: 14px;
    margin-top: 10px 
}
.person_taught{
    margin-bottom: 4px;
    font-size: 14px;
    margin-top: 5px 
}
.person_desc{
    font-size: 16px;
    font-weight: 520;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    white-space: normal;
}
.person_teaches{
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.btn{
    width: 600px;
    border-radius:10px;
    /* border: 5px solid  #000; */
    display:inline-block;
    background-color: transparent;
}
.teachers_btn{
    width: 150px;
    border-radius:10px;
    border: 5px solid white;
    display:inline-block;
    background-color: orange;
}
.teachers_btnn{
    width: 150px;
    border-radius:10px;
    border: 5px solid white;
    display:inline-block;
    background-color: lightskyblue;
}
.person_curri{
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.person_exam{
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 500;
}